Package: com.phillipt.asos
Name: Asos
Icon: Asos.png
Depends: mobilesubstrate, preferenceloader, applist
Architecture: iphoneos-arm
Description: Lock out certain apps
Author: Phillip Tennen & Cortex
Section: Tweaks
Version: 1.0.0-1
