Package: com.phillipt.asos
Name: Asos
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lock out certain apps
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
