<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>	
	<key>title</key>
	<string>Asos</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>AsosCustomCell</string>
			<key>id</key>
			<string>header</string>
			<key>key</key>
			<string>header</string>
		</dict>
		
		<!-- Enabled Group -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring required to enable/disable. Other settings take effect immediately.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>set</key>
			<string>setEnabledSwitch:specifier:</string>
		</dict>
		
		
		<!-- Passcode Group -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use your device's passcode, or create a special passcode just for Asos.</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>useRealPass</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>useRealPass</string>
			<key>label</key>
			<string>Use Real Passcode</string>
			<key>set</key>
			<string>setUseRealPasscodeSwitch:specifier:</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>id</key>
			<string>passcode</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>passcode</string>
			<key>label</key>
			<string>Asos Passcode:</string>
			<key>placeholder</key>
			<string>1234</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		
		
		
		<!-- Once-A-Respring Group -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Only require a passcode once per respring, per app.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>onceRespring</string>
			<key>label</key>
			<string>Once-A-Respring</string>
		</dict>



		<!-- Timed Passcode Group -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Only require passcode after a time interval, measured in minutes.</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>atTime</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>atTime</string>
			<key>label</key>
			<string>Timed Passcode</string>
			<key>set</key>
			<string>setTimedPasscodeSwitch:specifier:</string>
		</dict>
		<dict>
			<key>id</key>
			<string>timeInterval</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>timeInterval</string>
			<key>label</key>
			<string>Require a passcode every</string>
			<key>placeholder</key>
			<string>10 minutes</string>
			<key>isNumeric</key>
			<true/>
		</dict>


		<!-- App List Group -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Locked Applications</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			
			<key>ALSettingsKeyPrefix</key>
			<string>lock-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.phillipt.asos.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>id</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.phillipt.asos</string>
			<key>PostNotification</key>
			<string>com.phillipt.asos/settingschanged</string>
			<key>key</key>
			<string>openTwitter</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>Visit Phillip's Twitter</string>
		</dict>
	</array>
</dict>
</plist>
